body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bolder;
    background-color:azure;
    width: 100%;
    height: 100%;
}
div.card{
    border-color: black;
    border-bottom-color: transparent;
}
table{
    border-color: black!important;
}
thead th:nth-child(1) {
    padding: 20px;
}
thead th:nth-child(2) {
    border-left: 1px solid rgb(0, 0, 0);
    padding-right: 12px;
}
thead th:nth-child(3) {
    width: 10%;
    border-left: 1px solid rgb(0, 0, 0);
    padding-right: 12px;
}
td{
    border-left: 1px solid rgb(0, 0, 0);
    padding-right: 12px;
}
th, td {
    padding: 20px;
}
.celda{
    width: 45%;
    overflow-wrap: anywhere;
}
